<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Donaciones</title>
</head>
<body>
  <h1>Tabla</h1>
  <div id="container"></div>

  <script>
    document.addEventListener("DOMContentLoaded", async () => {
      await crearTabla()
    })

    async function crearTabla() {
      let respuesta = await fetch("/users")
      let datosJson = await respuesta.json()

      let tabla = `<table border = 1>
                    <thead>
                      <tr>
                        <td>EmpleadoID</td>
                        <td>Nombre</td>
                        <td>Cargo</td>
                      </tr>
                    </thead>
                    <tbody>`;
      datosJson.forEach(row => {
        tabla += "<tr>";
          Object.keys(row).forEach(k => {
            tabla += `<td>${row[k]}</td>`
          })
          tabla += "</tr>";
      })
      tabla += "</tbody></table>"
      document.getElementById("container").innerHTML = tabla
    }
  </script>
</body>
</html>